<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Đăng ký sử dụng dịch vụ</li>
</ol>
<h1 class="display-4" style="padding: 1%">Đăng ký sử dụng dịch vụ</h1>
<form method="post" action="/queuerequest/create" style="padding: 1%">
    <div class="form-group">
        <label for="customername">Họ và tên</label>
        <input type="text" name="customername" class="form-control">
    </div>
    <div class="form-group">
        <label for="customerphone">Số điện thoại</label>
        <input type="text" name="customerphone" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="customeremail">Email</label>
        <input type="text" name="customeremail" class="form-control"></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
