<h1 class="display-4" style ="margin: 20px">Demo hàng đợi</h1>
<p class="mb-4" style ="margin: 20px" >Đây là một demo đơn giản cho đề cương luận văn tốt nghiệp đề tài 32, khoa Khoa học và Kỹ thuật máy tính, trường đại học Bách Khoa TPHCM.</p>
<a href="/queuerequest/queuedemo1" class="btn btn-dark" style ="margin: 20px">Hàng đợi 1</a>
