<h1 class="display-4">Hàng đợi 1</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ và tên</th>
            <th>Số điện thoại</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% queuerequest.forEach(function(queuerequest){ %>
            <tr>
                <td><%= queuerequest.id %></td>
                <td><%= queuerequest.customName %></td>
                <td><%= queuerequest.customPhone %></td>
                <td>
                <form class="d-inline" action="/queuerequest/delete/<%= queuerequest.id %>" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<a href="/queuerequest/queuedemo1/addrequest" class="btn btn-dark" style ="margin: 20px" >Đăng ký</a>
