<h1 class="display-4">Danh sách cơ sở</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Cơ sở</th>
            <th>Địa chỉ</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <% branch.forEach(function(branch){ %>
            <tr>

                <td><a href ='/branch/<%= branch.id %>'><%= branch.name %></a></td>
                <td><%= branch.location %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
